<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <!--Start sidebar menu toggle-->
        <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>
        <!--End sidebar menu toggle-->

        <!--Start topbar menu-->
        <nav class="nav navbar-nav">
            <ul class=" navbar-right">
                <li class="nav-item dropdown open" style="padding-left: 15px;">
                    <a href="javascript:;" class="user-profile" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                        <img src="/public/uploads/<%= photo %>" alt="">
                        <%= name %>
                            <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/profile"><i class="fa fa-user pull-right"></i>Profil</a>
                    <form class="dropdown-item" action="/logout?_method=DELETE" method="POST">
                        <button type="submit">Log Out</button>
                        <i class="fa fa-sign-out pull-right"></i>
                    </form>
    </div>
    </li>
    <li role="presentation" class="nav-item dropdown open">
        <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bell"></i>
            <% if(notifqty){%>
                <span class="badge bg-blue"><%= notifqty%></span>
                <%}%>
        </a>
        <ul class="dropdown-menu list-unstyled msg_list top-notification" role="menu" aria-labelledby="navbarDropdown1">
            <% if(notifikasi.length){%>
                <% notifikasi.forEach((item, index) => { %>
                    <li class="nav-item">
                        <a href="/notification-detail/<%= item.id %>" class="dropdown-item">
                            <span>
          <span class="font-weight-bold"><%= item.subject%> <%if(item.status == 'read'){%><i class="fa fa-check-circle"></i><%} else {%><i class="fa fa-exclamation-circle"></i><%}%></span>
                            <span class="time">
                                <%
                                    var raw_date = String(item.tanggal),
                                        date = raw_date.split(" ") 
                                %>
                                <%= date[2]; %>
                                <%= date[1]; %>
                                <%= date[3]; %>
                            </span>
                            </span>
                            <span class="message">
         <%= item.deskripsi %>
        </span>
                        </a>
                    </li>
                    <% }) %>
                        <% } else { %>
                            <p class="text-center" style="margin-top: 25px;">No data found</p>
                            <% } %>

                                <li class="nav-item">
                                    <div class="text-center">
                                        <a href="/notifications" class="dropdown-item">
                                            <strong>Tampilkan semua notifikasi</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
        </ul>
    </li>
    </ul>
    </nav>
    <!--End topbar menu-->
</div>
</div>
<!-- /top navigation -->